A few things you should keep in mind when working on assignments:

1. Make sure you fill in any place that says `YOUR CODE HERE`. Do **not** write your answer in anywhere else other than where it says `YOUR CODE HERE`. Anything you write anywhere else will be removed or overwritten by the autograder.

2. Before you submit your assignment, make sure everything runs as expected. Go to menubar, select _Kernel_, and restart the kernel and run all cells (_Restart & Run all_).

3. Do not change the title (i.e. file name) of this notebook.

4. Make sure that you save your work (in the menubar, select _File_ â†’ _Save and CheckPoint_)

5. You are allowed to submit an assignment multiple times, but only the most recent submission will be graded.

# SQL Data Manipulation

In this problem, we will create a fictitious SQLite database, and use it to practice inserting data into tables and executing queries.

In [ ]:
import os
from nose.tools import assert_equal, assert_true

Suppose we are given the following two tables:

<div class="row">
    <div class="col-md-2">
      <div align="center">
        <b>Midterm</b>
      </div>
    <table>
  <tr>
    <th>Id</th>
    <th>Name</th> 
    <th>Score</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Alice</td> 
    <td>97.3</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Bob</td> 
    <td>87.7</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Chris</td> 
    <td>91.5</td>
  </tr>
</table>

    </div>
    <div class="col-md-2"> 
      <div align="center">
        <b>Final</b>
      </div>
    <table>
  <tr>
    <th>Id</th>
    <th>Score</th>
  </tr>
  <tr>
    <td>1</td>
    <td>91.2</td>
  </tr>
  <tr>
    <td>2</td>
    <td>81.5</td>
  </tr>
  <tr>
    <td>3</td>
    <td>87.3</td>
  </tr>
</table>
    </div> 
</div>

Also suppose that we have created these tables in a database named `students.db`, as shown in the following code cells.

In [ ]:
%%writefile create.sql

DROP TABLE IF EXiSTS Midterm;
DROP TABLE IF EXiSTS Final;

CREATE TABLE Midterm (
    Id INT NOT NULL,
    Name TEXT,
    Score REAL
);

CREATE TABLE Final (
    Id INT NOT NULL,
    Score REAL
);

In [ ]:
!sqlite3 students.db < create.sql
!sqlite3 students.db ".schema"

## INSERT

- In the following code cell, complete the `insert.sql` script file to insert new values appropriately into `Midterm` and `Final`.

- When you run
  ```python
  >>> !sqlite3 students.db < insert.sql
  >>> midterm = !sqlite3 students.db "SELECT * FROM Midterm"
  >>> print('\n'.join(midterm))
  ```
  you should see
  ```
  1|Alice|97.3
  2|Bob|87.7
  3|Chris|91.5
  ```
  And when you run
  ```python
  >>> final = !sqlite3 students.db "SELECT * FROM Final"
  >>> print('\n'.join(final))
  ```
  you should see
  ```
  1|91.2
  2|81.5
  3|87.3
  ```

In [ ]:
%%writefile insert.sql

-- YOUR CODE HERE

In [ ]:
!sqlite3 students.db < insert.sql

midterm = !sqlite3 students.db "SELECT * FROM Midterm"
print('\n'.join(midterm))

In [ ]:
final = !sqlite3 students.db "SELECT * FROM Final"
print('\n'.join(final))

In [ ]:
midterm = !sqlite3 students.db "SELECT * FROM Midterm"
midterm_answer = ['1|Alice|97.3', '2|Bob|87.7', '3|Chris|91.5']
assert_equal(len(midterm), len(midterm_answer))
assert_equal(set(midterm), set(midterm_answer))

final = !sqlite3 students.db "SELECT * FROM Final"
final_answer = ['1|91.2', '2|81.5', '3|87.3']
assert_equal(len(final), len(final_answer))
assert_equal(set(final), set(final_answer))

## SELECT

- In the following code cell, use a combination of `SELECT`, `FROM`, and `WEHRE` to filter only students whose **midterm** score is greater than or equal to **90**.

- Extract only two columns: `Name` and `Score`.

- When you execute
  ```python
  >>> a_students = !sqlite3 students.db < a_students.sql
  >>> print('\n'.join(a_students))
  ```
  the correct answer is of course
  ```
  Alice|97.3
  Chris|91.5
  ```

In [ ]:
%%writefile a_students.sql

-- YOUR CODE HERE

In [ ]:
a_students = !sqlite3 students.db < a_students.sql
print('\n'.join(a_students))

In [ ]:
a_students_answer = ['Alice|97.3', 'Chris|91.5']
assert_equal(len(a_students), len(a_students_answer))
assert_equal(set(a_students), set(a_students_answer))

## Match IDs

- In the following code cell, use a combination of `SELECT`, `FROM`, and `WEHRE` to join the two tables, `Midterm` and `Final` **by matching the `Id` columns**.

- Extract only three columns: name, midterm score, and final score.

- It is easy to guess what the correct answer is:
  ```python
  >>> all_exams = !sqlite3 students.db < all_exams.sql
  >>> print('\n'.join(all_exams))
  ```
  ```
  Alice|97.3|91.2
  Bob|87.7|81.5
  Chris|91.5|87.3
  ```

In [ ]:
%%writefile all_exams.sql

-- YOUR CODE HERE

In [ ]:
all_exams = !sqlite3 students.db < all_exams.sql
print('\n'.join(all_exams))

In [ ]:
all_exams_answer = ['Alice|97.3|91.2', 'Bob|87.7|81.5', 'Chris|91.5|87.3']
assert_equal(len(all_exams), len(all_exams_answer))
assert_equal(set(all_exams), set(all_exams_answer))

We're done. The following code cell peforms cleanup.

In [ ]:
!rm *.sql students.db